{
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["src/**/*.ts", "test/**/*.ts", "./**/*.ts"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
